<!-- jQuery -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"
></script>

<!-- JS de Popper.js -->
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>

<!-- JS de Bootstrap -->
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
  crossorigin="anonymous"
></script>

<!-- JS de Facebook -->
<div id="fb-root"></div>
<script
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v8.0&appId=1487217944803014&autoLogAppEvents=1"
  nonce="gwn2YM6z"
></script>

<!-- JS de Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<!-- JS de Parsley.js -->
<script src="parsley.min.js"></script>

<!-- JS Propio -->
<script src="index.js"></script>
<script src="js/login-register.js"></script>
<script src="ejs.js"></script>
