<div class="vertical-nav bg-white mr-4" id="sidebar">
  <div class="py-4 px-3 mb-4 mr-4 bg-light">
    <div class="media d-flex align-items-center mr-4">
      <img
        src="<%- user.avatar%>"
        alt="..."
        width="65"
        class="mr-3 rounded-circle img-thumbnail shadow-sm"
      />
      <div class="media-body">
        <h4 class="m-0">@<%- user.username %></h4>
        <p class="font-weight-light text-muted mb-0">
          <%- user.name + ' ' +user.lastname %>
        </p>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">
    Main
  </p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic bg-light">
        <i class="fa fa-th-large mr-3 text-danger fa-fw"></i>
        Home
      </a>
    </li>
  </ul>

  <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">
    Charts
  </p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
        <i class="fa fa-area-chart mr-3 text-danger fa-fw danger"></i>
        Test
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
        <i class="fa fa-bar-chart mr-3 text-danger fa-fw"></i>
        Test
      </a>
    </li>
  </ul>
  <div class="buttons">
    <button
      id="sidebarCollapse"
      type="button"
      class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"
    >
      <i class="fa fa-bars mr-2"></i
      ><small class="mmb-5 text-uppercase font-weight-bold">Cerrar Menu</small>
    </button>
    <button
      id="sidebarCollapse"
      type="button"
      class="btn btn-danger rounded-pill shadow-sm px-4 mb-4"
      onclick="location.href='/logout'"
    >
      <i class="fas fa-sign-out-alt"></i>
      <small class="text-uppercase font-weight-bold">Cerrar session</small>
    </button>
  </div>
</div>
