<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
    <body id="background">
     
    <div class="sp-container">
      <div class="sp-content">
        <div class="sp-globe"></div>
        <h2 class="frame-1">BIENVENIDO</h2>
        <h2 class="frame-2">  Al Twitter de Mikaela y Maciel</h2>
 
        <a class="sp-circle-link"  style="text-decoration: none;" href="/login-registro" > Vamos!</a>
      </div>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
