<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>

  <body class="center-container">
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form action="/registro" method="POST">
          <h1>Crear cuenta</h1>
          <div class="social-container">
            <a href="/auth/facebook" class="social"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <!-- <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
          </div>
          <span>O use su email para registrarse</span>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Name"
          />
          <input
            type="text"
            class="form-control"
            id="lastname"
            name="lastname"
            placeholder="Lastname"
          />
          <input
            type="text"
            name="username"
            class="form-control"
            id="username"
            placeholder="Username"
          />
          <input
            type="text"
            name="email"
            class="form-control"
            id="email"
            placeholder="Email"
          />
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            placeholder="Password"
          />
          <button type="submit" class="mb-1 mt-2">Registrarse</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form action="/login" method="POST">
          <h1>Iniciar sesion</h1>
          <div class="social-container">
            <a href="/auth/facebook" class="social">
              <i class="fab fa-facebook-f"></i
            ></a>
            <!-- 	<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
          </div>
          <span>O use su cuenta</span>
          <input
            type="text"
            name="email"
            class="form-control"
            id="email"
            placeholder="Email or Username"
          />
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            placeholder="Password"
          />

          <button class="mt-2">Iniciar sesión</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Bienvenido!</h1>
            <p>Para conenctarse con nosotros ingresa tu datos</p>
            <button class="ghost" id="signIn">Iniciar sesion</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hola, bro!</h1>
            <p>Ingresa tus datos para registrarse</p>
            <button class="ghost mt-2" id="signUp">Registrate</button>
          </div>
        </div>
      </div>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
