<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body id="background">
    <h1 id="titleWelcome">Welcome to Maciel and Mikaela's Twitter</h1>
    <button
      onclick="location.href='/login-registro'"
      class="mt-5"
      id="button-welcome"
    >
      Get in
    </button>

    <%- include("partials/footer") %>
  </body>
</html>
