.main-section {
  margin: 0 auto;
  padding: 20px;
  margin-top: 100px;
  background-color: #fff;
  box-shadow: 0px 0px 20px #c1c1c1;
}
.fileinput-remove,
.fileinput-upload {
  display: none;
}

.title {
  font-size: 1.5rem;
}
