#background {
  background: rgb(252, 81, 48);
  background: linear-gradient(
    90deg,
    rgba(252, 81, 48, 1) 0%,
    rgba(252, 111, 84, 1) 55%,
    rgba(252, 136, 114, 1) 100%
  );
}
#titleWelcome {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: emoji;
}
#button-welcome {
  background-color: white;
  color: rgba(252, 81, 48, 1);
}

.btn-update {
  width: 400px;
  padding: 5px;
}

/*
 * Basic stick and stay structure
 */
.hero {
  padding-top: 140px;
  position: relative;
  transition: padding 0.5s ease-out;
  z-index: 10000;
}

.hero__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  left: 0;
}

.hero__foreground {
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 10000;
}

.hero__sticky {
  padding: 1px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.hero__sticky3 {
  padding: 1px;
  position: absolute;
  top: 25%;
  left: 60%;
  width: 100%;
  z-index: 10000;
}

.hero__content3 {
  color: #1d2230;
  background: rgb(252, 81, 48);
  background: linear-gradient(
    90deg,
    rgba(252, 81, 48, 1) 0%,
    rgba(252, 111, 84, 1) 55%,
    rgba(252, 136, 114, 1) 100%
  );
  color: #fff;
  margin: 2rem;
  max-width: 450px;
  z-index: 10000;
  padding: 2rem;
  transition: all 0.5s ease-out;
}

.hero__sticky2 {
  padding: 1px;
  position: absolute;
  top: 0;
  left: 60%;

  width: 100%;
  z-index: 1000;
}

.hero__content2 {
  color: #1d2230;
  background: rgb(252, 81, 48);
  background: linear-gradient(
    90deg,
    rgba(252, 81, 48, 1) 0%,
    rgba(252, 111, 84, 1) 55%,
    rgba(252, 136, 114, 1) 100%
  );
  color: #fff;
  margin: 2rem;
  max-width: 450px;
  padding: 2rem;
  z-index: 10001;
  transition: all 0.5s ease-out;
}

.hero__content {
  color: #1d2230;
  background: rgb(252, 81, 48);
  background: linear-gradient(
    90deg,
    rgba(252, 81, 48, 1) 0%,
    rgba(252, 111, 84, 1) 55%,
    rgba(252, 136, 114, 1) 100%
  );
  color: #fff;
  margin: 2rem;
  max-width: 450px;
  padding: 2rem;
  z-index: 10000;
  transition: all 0.5s ease-out;
}

.hero:hover .hero__content {
  transform: scale(1.05);
}

@media (min-width: 450px) {
  .hero {
    padding-top: 80px;
  }
}

@media (min-width: 600px) {
  .hero {
    padding-top: 50px;
  }
}

@media (min-width: 900px) {
  .hero {
    padding-top: 0;
  }

  .hero__sticky {
    height: 0;
    position: sticky;
  }

  .hero__content {
    margin: 3rem 5%;
    padding: 3rem;
  }
}

@media (min-width: 1200px) {
  .hero__content {
    margin: 8% 20%;
  }
}

/* required, so the sticky content scrolls behind the next section */
.layer {
  background: white;
  position: relative;
  z-index: 4000;
}

/*
 * Not required
 */
img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

.bg-2 {
  position: absolute;
  z-index: 2;
  background: #121724;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.spacer {
  height: 50vh;
}

.hint {
  opacity: 0.5;
  padding: 3rem;
  text-align: center;
}
